<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926526274391-v9lumba0di17f44i4ips85io4oo3431u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926526274391-v9lumba0di17f44i4ips85io4oo3431u</string>
	<key>API_KEY</key>
	<string>AIzaSyBei_DJ_Zh2KdIswSwAdUB1Vs0kWbHbc18</string>
	<key>GCM_SENDER_ID</key>
	<string>926526274391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.a</string>
	<key>PROJECT_ID</key>
	<string>learn-6442d</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-6442d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926526274391:ios:6feb880635912e5a239c12</string>
</dict>
</plist>